<p id="notice"><%= notice %></p>

<h1>Users</h1>

<table>
  <tr>
    <th><%= sortable "last_name"%></th>
    <th><%= sortable "first_name"%></th>
    <th><%= sortable "email" %></th>
    <th colspan="3"></th>
  </tr>
  <tbody id="users">
    <%= render @users %>
  </tbody>
</table>

<br>

<%= link_to 'New User', new_user_path %>
