<p id="notice"><%= notice %></p>

<h1>User data:</h1>

<p id=<%="first_name_#{@user.id}"%>>
  <strong>First name:</strong>
  <%= @user.first_name %>
</p>

<p id=<%="last_name_#{@user.id}"%>>
  <strong>Last name:</strong>
  <%= @user.last_name %>
</p>

<p id=<%="email_#{@user.id}"%>>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Delete', user_path(@user), method: :delete %> |
<%= link_to 'Back', users_path %>
